html, body {
  margin: 0;
  height: 100%;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}

.content {
  position: relative;
  z-index: 666;

  .sides {
    z-index: 0;

    & > div {
      position: absolute;
      width: 100px;
      height: 100px;
      background: transparent;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      cursor: pointer;
      transition: 1s;

      &:hover {
        border: 1px solid #000;
      }
    }

    .top {
      left: 50%;
      right: 50%;

      top: 1rem;
    }
    .left {
      top: 50%;
      bottom: 50%;

      left: 1rem;
    }
    .bottom {
      left: 50%;
      right: 50%;

      bottom: 1rem;
    }
    .right {
      top: 50%;
      bottom: 50%;

      right: 1rem;
    }
  }
}