html, body {
    margin: 0;
    height: 100%;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
}

.content {
    position: relative;
    z-index: 666;
}
.content .sides {
    z-index: 0;
}
.content .sides > div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
}
.content .sides > div:hover {
    border: 1px solid #000;
}
.content .sides .top {
    left: 50%;
    right: 50%;
    top: 1rem;
}
.content .sides .left {
    top: 50%;
    bottom: 50%;
    left: 1rem;
}
.content .sides .bottom {
    left: 50%;
    right: 50%;
    bottom: 1rem;
}
.content .sides .right {
    top: 50%;
    bottom: 50%;
    right: 1rem;
}